<html>
    <head>
        <script>
            
        </script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/big.js@6.2.1/big.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col">
                                <input class="btn btn-success" type="button" value="Connect Wallet" onclick="connect();">
                                <span id="wallet">...</span>
                            </div>
                        </div>            
                        <div class="row">
                            <div class="col form-inline">
                                <label for="orchUrl">Orchestrator Url</label>
                                <input type="text" class="form-control" id="orchUrl" value="{{ go_livepeer_url }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-inline">
                                <label for="max_price">Max Price Per Pixel</label>
                                <input type="number" min-step=1 class="form-control" id="max_price" value=100>
                            </div>
                        </div>
                        <form id="jobForm">
                            <div class="card mt-3">
                                <div class="card-body">
                                    <h5 class="card-title">Stable Video Diffusion</h5>
                                    <div class="form-group form-inline">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label" for="base_image">Select Image</label>
                                                <input type="file" class="form-control" id="base_image" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label" for="timeoutSeconds">timeout</label>
                                                <input type="number" min=1 step=1 class="form-control" name="timeoutSeconds" id="timeoutSeconds" value=600>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <label for="fps">fps</label>
                                                <input type="number" min=1 step=1 class="form-control" name="fps" id="fps" value=7>
                                            </div>
                                            <div class="col-sm">
                                                <label for="size">size</label>
                                                <input type="text" class="form-control-plaintext" name="size" id="size" value="1024x576" readonly>
                                            </div>
                                            <div class="col-sm">
                                                <label for="size">duration (seconds)</label>
                                                <input type="text" class="form-control-plaintext" name="dur" id="dur" value="2" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <label for="seed">seed</label>
                                                <input type="number" min=-1 step=1 class="form-control" name="seed" id="seed" value=-1>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <label for="motion_bucket_id">motion bucket</label>
                                                <input type="number" min=1 step=1 class="form-control" name="motion_bucket_id" id="motion_bucket_id" value=180>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <label for="noise_aug_strength">noise aug strength</label>
                                                <input type="number" min=0 step=0.01 class="form-control" name="noise_aug_strength" id="noise_aug_strength" value=.1>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block mb-4" id="submit_job">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <!--<video width="854" height="480" id="sd_video" controls autoplay muted>
                        <source></source>
                    </video>-->
                </div>
            </div>
        </div>
        <div class="modal" id="ticket">
            <div class="modal-dialog">
                <div class="modal-header">
                    <h5 class="modal-title">Livepeer Ticket</h5>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Hash</span>
                                  <div class="form-floating">
                                    <input type="text" readonly class="form-control-plaintext" id="ticket_hash" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Nonce</span>
                                  <div class="form-floating">
                                    <input type="text" class="form-control" id="sender_nonce" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Sender</span>
                                  <div class="form-floating">
                                    <input type="text" class="form-control" id="sender_address" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Recipient</span>
                                  <div class="form-floating">
                                    <input type="text" class="form-control" id="rcipient_address" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Face Value</span>
                                  <div class="form-floating">
                                    <input type="text" class="form-control" id="face_value" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Recipient Rand Hash</span>
                                  <div class="form-floating">
                                    <input type="text" class="form-control" id="recipient_rand_hash" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Creation Round</span>
                                  <div class="form-floating">
                                    <input type="text" class="form-control" id="creation_round" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Creation Round Block Hash</span>
                                  <div class="form-floating">
                                    <input type="text" class="form-control" id="creation_round_block_hash" placeholder="">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
    <script>
        var web3;
        var accounts;
        var livepeerJob = "Stable Video Diffusion On Livepeer";
        var fileHash = "";
        
        let maxWinProb = BigInt(2 ** 256) - BigInt(1);
        
        document.addEventListener('DOMContentLoaded', function() {
            jobForm.addEventListener("submit", requestJob);
            
            const fileLoader = document.getElementById("base_image");
            fileLoader.addEventListener("change", hashFile);
            
        }, false);
        
        async function connect() {
            if (window.ethereum) {
                web3 = new Web3(window.ethereum);
                accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
                                .catch((err) => {
                                  if (err.code === 4001) {
                                    // EIP-1193 userRejectedRequest error
                                    // If this happens, the user rejected the connection request.
                                    console.log('Please connect to MetaMask.');
                                  } else {
                                    console.error(err);
                                  }
                                });
                const account = accounts[0];
                const wallet = document.getElementById("wallet");
                wallet.innerHTML = account;
            } else {
                console.log("No wallet");
            }
        }
        
        async function requestJob(event) {
            event.preventDefault();
            //disable submit button
            const submit_btn = document.getElementById("submit_job");
            submit_btn.setAttribute("disabled", "disabled");
            
            const data = new FormData(jobForm);
            var sig = await SignAddr();
            if (!sig) {
                return
            }
            
            
            //get token for job
            const orch_url = document.getElementById("orchUrl").value;
            let resp = await fetch(orch_url+"/getToken", {
                                    method: "GET",
                                    headers: {"Content-Type": "application/json",
                                              "Livepeer-Job-Eth-Address": 
                                                    JSON.stringify({"addr": accounts[0],
                                                     "sig": sig,
                                                     "msg": livepeerJob,
                                                    }),
                                              "Livepeer-Job-Capability": "stable-video-diffusion",
                                             },
                                    });
            
            if (resp.status != 200) {
                alert("failed to get token: "+resp.statusText);
                return
            }
            
            const token = await resp.json();
            console.log(token);
            
            if ("ticketParams" in token) {
                validated = await validateTicketParams(token["ticketParams"]);
                if (!validated) {
                    console.log("ticket params validation failed, exiting");
                    return
                }
            } else {
                console.log("no ticket params in token, exiting");
                return
            }
            
            //const ticketParams = parseTicketParams(token["ticketParams"]);
            
            const cost = calculateCost(data, token["priceInfo"]);
            const tickets = await createTickets(cost, token["ticketParams"]);
            const payment = genPayment(token, accounts[0], tickets);
            
            var job = {};
            
            job["id"] = token["jobId"];
            job["token"] = token["token"];
            job["timeoutSeconds"] = parseInt(data.get("timeoutSeconds"));
            job["dataHash"] = fileHash;
            job["capability"] = "stable-video-diffusion";
            job["prompt"] = "stable-video-diffusion";
            job["parameters"] = JSON.stringify({"seed": parseInt(data.get("seed")),
                                                "fps": parseInt(data.get("fps")),
                                                "motion_bucket_id": data.get("motion_bucket_id"),
                                                "noise_aug_strength": data.get("noise_aug_strength"),
                                                "duration": data.get("dur")
                                              });
            var pmtHdr = btoa(JSON.stringify(payment));
            var jobHdr = btoa(JSON.stringify(job));
            var jobSig = await signData(jobHdr);
            
            var sig = {};
            sig["hash"] = web3.utils.sha3(jobHdr);
            sig["sig"] = jobSig;
            
            var sigHdr = btoa(JSON.stringify(sig));
            
            let base_image_files = document.getElementById("base_image").files;
            if (base_image_files.length > 0) {
                let base_image = base_image_files[0];
                let job_data = new FormData();
                job_data.append("request_data", base_image);
                //
                let process_resp = await fetch(orch_url+"/processJob", {
                                            method: "POST",
                                            headers: {
                                                      "Livepeer-Job-Payment": pmtHdr,
                                                      "Livepeer-Job": jobHdr,
                                                      "Livepeer-Job-Sig": sigHdr,
                                                     },
                                            body: job_data,
                                            });
                // We are reading the *Content-Disposition* header for getting the original filename given from the server
                const header = process_resp.headers.get('Content-Disposition');
                const parts = header.split(';');
                const filename = parts[1].split('=')[1].replaceAll("\"", "");
                const blobData = await process_resp.blob();
                var url = window.URL.createObjectURL(blobData);
                var a = document.createElement('a');
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                a.remove();

                //const vid = document.getElementById("sd_video");
                //vid.src = url;
            } else {
                alert("no base image selected, select image file and resubmit");
            }
            
            submit_btn.removeAttribute("disabled");
        }
        
        function genPayment(token, sender, tickets) {
            var parsedParams = parseTicketParams(token["ticketParams"]);
            return {
                "sender": encode(sender),
                "ticket_params": token["ticketParams"],
                "expiration_params": token["ticketParams"]["expiration_params"],
                "expected_price": token["priceInfo"],
                "ticket_sender_params": tickets
            }
        }
        
        function calculateCost(data, priceInfo) {
            const fps = data.get("fps");
            const size = data.get("size").split("x");
            const width = size[0];
            const height = size[1];
            const dur = data.get("dur");
            
            const pixels = BigInt(width) * BigInt(height) * BigInt(fps) * BigInt(dur);
            const price = calcPrice(priceInfo);
            
            return pixels * price;
        }
        
        function calcPrice(priceInfo) {
            var p = BigInt(priceInfo["pricePerUnit"]);
            var b = BigInt(priceInfo["pixelsPerUnit"]);
            
            return p / b;
        }
        
        async function isArbitrum() {
            if (window.ethereum) {
                const chain_id = await window.ethereum.request({
                  method: 'eth_chainId'
                });
                //if not arbitrum
                if (chain_id == "0xa4b1") {
                    console.log("confirmed on arbitrum");
                    return true;
                }
            }
            
            //no ethereum or not on arbitrum
            return false;
        }
        
        async function changeToArbitrum() {
            const res = await window.ethereum.request({
                              "method": "wallet_switchEthereumChain",
                              "params": [
                                          {
                                            "chainId": "0x64"
                                          }
                                        ]
                        });
            
            if (res != null) {
                return false;
            } else {
                return true;
            }
        }
        
        async function SignAddr() {
            if (window.ethereum) {
                if (!isArbitrum()) {
                    if (!changeToArbitrum()) {
                        alert("need to be on Arbitrum network");
                        return
                    }
                }
                accounts = await window.ethereum.request({
                    method: 'eth_requestAccounts'
                });
                
                try {
                    const msg = web3.utils.utf8ToHex(livepeerJob);
                    //const msg = web3.utils.utf8ToHex(web3.utils.sha3(accounts[0]));
                    //const msg = `${web3.utils.soliditySha3(accounts[0])}`;
                    //const sig = await window.ethereum.request({
                    //  method: 'personal_sign',
                    //  params: [msg, accounts[0]]
                    //});
                    const sig = await web3.eth.personal.sign(msg, accounts[0],'');
                    return sig;
                    
                } catch (error) {
                    console.log(error);
                    return null
                }
            } else {
                alert("no eth account accessible");
                console.log("No metamask detected");
                return null
            }
        }
        
        async function signData(data) {
            //hash and sign hash of data
            //console.log("data being hashed for sig");
            //console.log(data);
            var reqHash = web3.utils.soliditySha3({t:'string', v: data});
            console.log("signing data hash of: "+reqHash);
            try {
                //const msg = `${reqHash}`;
                const msg = web3.utils.utf8ToHex(reqHash)
                const sig = await web3.eth.personal.sign(msg, accounts[0],'')
                console.log("sig: "+sig);
                return sig;
                    
            } catch (error) {
                console.log(error);
                return null
            }
        }
        
        async function validateTicketParams(params) {
            
            let latestL1Block = await getLatestL1Block();
            
            if ("expiration_block" in params) {
                let expBlock = parseBigInt(params["expiration_block"]);
                if (expBlock <= 0) {
                    console.log("ticket params validation failed: expiration block not > 0");
                    return false
                } else if (expBlock <= latestL1Block) {
                    console.log("ticket params validation failed: expiration block ["+expBlock+"] < last seen L1 block ["+latestL1Block+"]");
                    return false
                }
            } else {
                console.log("ticket params validation failed: expiration block not present");
                return false
            }
            if ("win_prob" in params && "face_value" in params) {
                let winProb = parseBigInt(params["win_prob"])
                let faceValue = parseBigInt(params["face_value"])
                if (winProb > 0 && faceValue > 0) {
                    let prob = 1 / (Number(maxWinProb / winProb));
                    let ev = Number(faceValue) * prob;
                    if (ev <= 0) {
                        console.log("ticket params validation failed: ev <= 0");
                        return false
                    }
                }
            } else {
                //orchestrator is not charging anything
            }
            
            return true
            
        }
        
        async function getLatestL1Block() {
            let res = await web3.currentProvider.request({
                                method: "eth_getBlockByNumber",
                                params: ["latest", false],
                                jsonrpc: "2.0",
                                id: new Date().getTime()
                            },  function (error, result) {
                                    if (error) {
                                        console.log(error);
                                        return 0
                                    }
                                    if (result) {
                                        console.log(result);
                                        return BigInt(result["result"]["l1BlockNumber"])
                                    }
                                    
                            });
            return res
        }
        
        function showTicketInfo(ticket) {
            var ticketInfo = document.getElementById("");
        }
        
        
        async function createTickets(cost, params) {
            let t_params = parseTicketParams(params);
            let ev = t_params.FaceValue * t_params.WinProb / maxWinProb;
            let numTickets = 1;
            if (cost > ev) {
                numTickets = (cost / ev) + BigInt(1);
            }
            
            let tickets = [];
            for (t = 1; t <= numTickets; t++) {
                let ticket = await createTicket(t_params, t);
                tickets.push(ticket);
            }
            
            return tickets;
        }
        
        async function createTicket(params, nonce) {
            //create ticket to hash and send back {sender, hash}
            const t = {
              Recipient: params.Recipient,
              Sender: accounts[0],
              FaceValue: params.FaceValue,
              WinProb: params.WinProb,
              SenderNonce: BigInt(nonce),
              RecipientRandHash: params.RecipientRandHash,
              AuxData: { 
                         CreationRound: params.ExpirationParams.CreationRound,
                         CreationRoundBlockHash: params.ExpirationParams.CreationRoundBlockHash,
                       },
            };
            let sig = await signTicket(t);
            return {"sender_nonce":nonce, "sig": encode(sig)}
        }
        
        async function hashTicket(ticket) {
            //console.log(ticket);
            const hash = await web3.utils.soliditySha3({t: 'address', v: ticket.Recipient}, 
                                           {t: 'address', v: ticket.Sender}, 
                                           {t: 'uint256', v: ticket.FaceValue}, 
                                           {t: 'uint256', v: ticket.WinProb}, 
                                           {t: 'uint256', v: ticket.SenderNonce}, 
                                           ticket.RecipientRandHash,
                                           {t: 'uint256', v: ticket.AuxData.CreationRound},
                                           ticket.AuxData.CreationRoundBlockHash);
            return hash
        }
        
        async function signTicket(ticket) {
            const hash = await hashTicket(ticket);
            //const msg = web3.utils.utf8ToHex(hash);
            const msg = `${hash}`;
            const sig = await web3.eth.personal.sign(msg, accounts[0],'');
            console.log("ticket hash: "+hash);
            console.log("signed ticket hash of: "+sig);
            return sig;
        }
        
        function parseTicketParams(params) {
            return {
              ExpirationBlock: parseBigInt(params["expiration_block"]),
              ExpirationParams: {
                                 CreationRound: BigInt(params["expiration_params"]["creation_round"]),
                                 CreationRoundBlockHash: decode(params["expiration_params"]["creation_round_block_hash"])
                                },
              Recipient: decode(params["recipient"]),
              FaceValue: parseBigInt(params["face_value"]),
              WinProb: parseBigInt(params["win_prob"]),
              RecipientRandHash: decode(params["recipient_rand_hash"]),
              Seed: decode(params["seed"]),
            };
        }
        
        function encode(hexString) {
            // Remove the '0x' prefix and convert the hex string to bytes array
            const hexBytes = hexString.slice(2).match(/.{2}/g).map(byte => parseInt(byte, 16));

            // Convert bytes array to binary string
            const binaryString = String.fromCharCode(...hexBytes);

            // Convert binary string to base64
            const base64String = btoa(binaryString);

            return base64String;
        }
        
        function decode(b64str) {
            const binaryString = atob(b64str);
            // Convert binary to bytes array
            const bytesArray = new Uint8Array(binaryString.length);
                for (let i = 0; i < binaryString.length; i++) {
                  bytesArray[i] = binaryString.charCodeAt(i);
                }
                
            return '0x' + Array.from(bytesArray, byte => byte.toString(16).padStart(2, '0')).join('')
        }
        
        function parseBigInt(b64str) {
            let b = decode(b64str);
                    
            return BigInt(b);
        };
        
        async function hashFile(event) {
            const fileData = await event.target.files[0].arrayBuffer();
            const hash = await crypto.subtle.digest("SHA-256", fileData);
            const bytes = Array.from(new Uint8Array(hash));
            const hex = await web3.utils.bytesToHex(bytes);
            fileHash = hex;
            console.log("file hashed: "+fileHash);
        }
        
        function playVideo(data){
            var video = document.getElementById("sd_video");
            //var binaryString = atob(base64String);
            //var blob = new Blob([binaryString], {type: "video/mp4"});
            //var blob = new Blob(data, {type: "video/mp4"});
            //video.srcObject = window.URL.createObjectURL(blob);
            var blob = new Blob(data, {type: "video/mp4"});
            video.srcObject = window.URL.createObjectURL(blob);
        }
        
    </script>
<html>